In [20]:
# importar bibliotecas necessarias para o desenvolvimento do trabalho

import pandas as pd
import numpy as np

In [21]:
# carregar arquivo da base de dados contida no site da Investing - período 01.2024 a 11.2024

file_path = "C:/Users/Mathw/Downloads/Dados Históricos - Ibovespa (PTech).csv"
df = pd.read_csv(file_path)

In [22]:
# checar as primeiras linhas do dataframe

print(df.head())

         Data   Último  Abertura   Máxima   Mínima    Vol.    Var%
0  10.12.2024  128.228   127.213  128.511  127.213   9,14B   0,80%
1  09.12.2024  127.210   125.946  127.542  125.946   9,37B   1,00%
2  06.12.2024  125.946   127.856  127.872  125.833  11,22B  -1,50%
3  05.12.2024  127.858   126.088  127.989  126.087   9,53B   1,40%
4  04.12.2024  126.087   126.139  126.720  125.828   9,39B  -0,04%

In [23]:
# verficar tipos das colunas

print(df.dtypes)

Data         object
Último      float64
Abertura    float64
Máxima      float64
Mínima      float64
Vol.         object
Var%         object
dtype: object

In [24]:
# Checar valores que não podem ser convertidos
print(df['Último'].head())  # retornar primeiros valores da coluna
print(df['Último'].apply(type).value_counts())  # Checar os tipos de dados na coluna

0    128.228
1    127.210
2    125.946
3    127.858
4    126.087
Name: Último, dtype: float64
Último
<class 'float'>    2715
Name: count, dtype: int64

In [25]:
# ajustar type das colunas

df['Último'] = df['Último'].astype(str).str.replace(',', '.').astype(float)
df['Abertura'] = df['Abertura'].astype(str).str.replace(',', '.').astype(float)
df['Máxima'] = df['Máxima'].astype(str).str.replace(',', '.').astype(float)
df['Mínima'] = df['Mínima'].astype(str).str.replace(',', '.').astype(float)

In [26]:
# Tratando a coluna de percentual. Aqui vou alterar para string, remover o símbolo de porcentagem e transformar em float

df['Var%'] = df['Var%'].astype(str).str.replace('%', '').str.replace(',', '.').astype(float)

In [27]:
# Função para converter valores com 'B', 'M' , 'K' para números
def converter_vol(volume):
    if pd.isna(volume):  # check se o valor é NaN
        return np.nan
    volume = str(volume).replace(',', '.')
    if 'B' in volume:
        return float(volume.replace('B', '')) * 1e9  # Converter bilhões - 9 zeros
    elif 'M' in volume:
        return float(volume.replace('M', '')) * 1e6  # Converter milhões - 6 zeros
    elif 'K' in volume:
        return float(volume.replace('K', '')) * 1e3  # Converter milhares - 3 zeros
    else:
        return float(volume)

In [28]:
print(df['Vol.'].unique())

['9,14B' '9,37B' '11,22B' ... '5,93M' '1,88M' '1,41M']

In [29]:
# Aplicar a função na coluna 'Vol.'

df['Vol.'] = df['Vol.'].apply(converter_vol)

In [30]:
print(df['Vol.'].head())  # Verificar os primeiros valores convertidos
print(df['Vol.'].dtypes)  # Confirmar que a coluna é numérica

0    9.140000e+09
1    9.370000e+09
2    1.122000e+10
3    9.530000e+09
4    9.390000e+09
Name: Vol., dtype: float64
float64

In [31]:
# Exibir as primeiras linhas do DataFrame ajustado
df.head()

         Data   Último  Abertura   Máxima   Mínima          Vol.  Var%
0  10.12.2024  128.228   127.213  128.511  127.213  9.140000e+09  0.80
1  09.12.2024  127.210   125.946  127.542  125.946  9.370000e+09  1.00
2  06.12.2024  125.946   127.856  127.872  125.833  1.122000e+10 -1.50
3  05.12.2024  127.858   126.088  127.989  126.087  9.530000e+09  1.40
4  04.12.2024  126.087   126.139  126.720  125.828  9.390000e+09 -0.04

In [32]:
df.tail()

            Data  Último  Abertura  Máxima  Mínima       Vol.  Var%
2710  08.01.2014  50.577    50.431  50.793  50.424  2920000.0  0.29
2711  07.01.2014  50.430    50.982  51.478  50.429  3340000.0 -1.07
2712  06.01.2014  50.974    50.980  51.002  50.451  3730000.0 -0.01
2713  03.01.2014  50.981    50.348  50.981  50.269  7360000.0  1.27
2714  02.01.2014  50.341    51.522  51.656  50.246  3480000.0 -2.26

In [34]:
df.to_csv("C:/Users/Mathw/Downloads/Dados Históricos - Ibovespa (PTech) tratado.csv", index=False)