In [18]:
import pandas as pd
import numpy as np
from statsmodels.tsa.arima.model import ARIMA
from statsmodels.graphics.tsaplots import plot_predict
from sklearn.metrics import mean_squared_error, mean_absolute_error
import matplotlib.pyplot as plt

In [19]:
df = pd.read_csv("https://datalaketech4.blob.core.windows.net/dados-ipea/cotacao_petroleo_ipea.csv", encoding="ISO-8859-1", delimiter=";", decimal=",")

In [20]:
df['data'] = pd.to_datetime(df['data'], format='%d/%m/%Y')
df = df.set_index("data")

In [21]:
df = df.asfreq('D')

In [22]:
tamanho_treino = int(len(df) * 0.8)
treino = df.iloc[:tamanho_treino]
teste = df.iloc[tamanho_treino:]

In [30]:
order = (1, 1, 0)
modelo_arima = ARIMA(treino, order=order)
modelo_arima_fit = modelo_arima.fit()
print(modelo_arima_fit.summary())
predicoes = modelo_arima_fit.forecast(steps=len(teste))

                               SARIMAX Results
==============================================================================
Dep. Variable:                  preco   No. Observations:                 3016
Model:                 ARIMA(1, 1, 0)   Log Likelihood               -4791.742
Date:                Sun, 11 May 2025   AIC                           9587.485
Time:                        12:55:40   BIC                           9599.507
Sample:                    01-01-2015   HQIC                          9591.808
                         - 04-04-2023
Covariance Type:                  opg
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
ar.L1         -0.0889      0.013     -6.824      0.000      -0.114      -0.063
sigma2         2.4265      0.029     84.216      0.000       2.370       2.483
===================================================================================
Ljung-Box (L1) (Q):                   0.38   Jarque-Bera (JB):             18795.14
Prob(Q):                              0.54   Prob(JB):                         0.00
Heteroskedasticity (H):               1.73   Skew:                            -0.80
Prob(H) (two-sided):                  0.00   Kurtosis:                        15.13
===================================================================================

Warnings:
[1] Covariance matrix calculated using the outer product of gradients (complex-step).

In [31]:
predicoes = pd.Series(predicoes, index=teste.index)

In [32]:
predicoes

data
2023-04-05    85.709779
2023-04-06    85.708910
2023-04-07    85.708987
2023-04-08    85.708980
2023-04-09    85.708981
                ...
2025-04-24    85.708981
2025-04-25    85.708981
2025-04-26    85.708981
2025-04-27    85.708981
2025-04-28    85.708981
Freq: D, Name: predicted_mean, Length: 755, dtype: float64

In [33]:
teste

            preco
data
2023-04-05  85.89
2023-04-06  86.56
2023-04-07    NaN
2023-04-08    NaN
2023-04-09    NaN
...           ...
2025-04-24  67.50
2025-04-25  66.99
2025-04-26    NaN
2025-04-27    NaN
2025-04-28  66.13

[755 rows x 1 columns]